.button {
  border-style: none;
  padding: 7px 6px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border-radius: 6px;
}

.button.blue {
  background-color: #1fb6ff;
}

button.green {
  background-color: #13ce66;
}

button.red {
  background-color: #ff4949;
}

.button.white {
  background-color: #fff;
  color: #222;
  border: 1px solid #888;
}

.button:hover {
  box-shadow: inset 200px 0 0 #00000055;
}


